@import "utils.scss";



/* *************** ---------- ORDERER ---------- *************** */
.orderer {
  /*background: #ccc;*/
  margin: 0 auto;
  width: 90%;
  /* see orderee.scss for details */
  &.cols-2 {
    .orderee {
      width: 50%;
    }
  }
  &.cols-3 {
    .orderee {
      width: 33.3%;
    }
  }
  &.cols-4 {
    .orderee {
      width: 25%;
    }
  }
  &.cols-5 {
    .orderee {
      width: 20%;
    }
  }
  &.cols-6 {
    .orderee {
      width: 16.6%;
    }
  }
}










