/* *************** ---------- HELPERS ---------- *************** */
/* ----- FUNCTIONS ----- */
/* ----- VARS ----- */
/* base pixel size (used to calculate EM values) */
/* sets standard vertical spacing from give PX value to EMs */
/* ----- MIXINS ----- */
/* *************** ---------- ORDEREE ---------- *************** */
.orderee {
  /*background: #fc3;*/
  display: inline-block;
  width: 100%;
  /* check orderer.scss for custom col size overrides */
  padding: 0.625em;
  transition: transform 0.2s linear 0s; }
  .orderee:hover {
    transform: scale(1.05); }
  .orderee img {
    width: 100%;
    height: auto;
    vertical-align: middle; }
